{% extends 'base.html.twig' %}

{% block body %}

    <div id="container">
      <table class="table">
        <tr class="new_row">
          <th>Number ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Status</th>
        </tr>
        {% for book in books %}
          <tr class="new_row">
            <td>{{ book.NumberID }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            {% if session != null %}
              <td><link><a href="https://localhost/web/app_dev.php/book/{{book.NumberID}}">Add book</a><link></td>
            {% else %}
              <td>------</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href=" {{ asset('css/book.css') }} ">
{% endblock %}
